html,
body{
  height: 100%; 
  min-height:738px;
  display: block;
  padding-top: 0;
  font-size:16px;
  font-family:'Segoe UI light','Arial','黑体';
  color:#000;
  text-align:justify;
  text-justify:auto;
  position:relative;
}
p,a,pre{
  -webkit-transform:translate3d(0,0,0);
}
h1{
  margin: 10px 0;
  font-size:36px;
  color:rgba(0,0,0,0);
}
#div_home h1{
  font-size: 50px;
}

h1[class*="title"]{
  background-repeat:no-repeat;
}

h2{
  font-size:16px;
}

p{
  line-height:25px;
}

/* 文字选中背景 */
*::selection{
  background:rgba(0,0,0,0.2);
}
#div_home *::selection{
  background:rgba(255,255,255,0.2);
}

/* p中的a的样式 */
a:focus{
  outline:none;
}
.page a,
.page a:hover,
.page a:active,
.page a:visited{
  color:rgba(0,0,0,0.5);
  text-decoration:none;
}
.page a{
  position:relative;
  cursor:pointer;
  display: inline-block;
}
.page a[href*='http']:not(.tp):hover:before,
.page a[href*='mailto']:before{
  content:"";
  position:absolute;
  left:0;
  bottom:0px;
  display:block;
  width:100%;
  height:2px;
  background:rgba(0,0,0,0.5);
}

/* 首页中的a的的样式 */
#div_home.page a,
#div_home.page a:hover,
#div_home.page a:active,
#div_home.page a:visited{
  color:rgba(255,255,255,0.5);
}
#div_home.page a:not(.tp):hover:before{
  background:rgba(255,255,255,0.5);
}

.page a[href*='http']:after{
  content:"\e164";
  font-family: 'Glyphicons Halflings';
  font-size: 65%;
  margin-left: 1px;
  display:inline-block;
  transform:translateY(-1px);
  -ms-transform:translateY(-1px);
  -webkit-transform:translateY(-1px);
  -moz-transform:translateY(-1px);
  -o-transform:translateY(-1px);
}

/* abbr、无pre的code */
abbr,
abbr[title],
code:not([class]){
  background:rgba(255,255,255,0.4);
  border-radius:1px;
  margin:0 2px;
  padding:0px 3px 2px 3px;
  font-family: 'Andale Mono', 'Monaco', 'Segoe UI light','Arial','黑体';
  cursor:default;
  border-bottom:none;
  font-size:90%;
  color:inherit;
  line-height: 14px;
  display:inline-block;
  transform:translateY(-1.5px);
  -ms-transform:translateY(-1.5px);
  -webkit-transform:translateY(-1.5px);
  -moz-transform:translateY(-1.5px);
  -o-transform:translateY(-1.5px);
}

.page code a[href*='http']{
  color: inherit;
}
.page code a[href*='http']:before,
.page code a[href*='http']:hover:before{
  display: none;
}

br + abbr,
* > abbr:first-child,
* > abbr[title]:first-child,
* > code:not([class]):first-child{
  margin-left:0;
}

.page{
  position:relative;
  width: 100%;
  height: 100%;
  min-height:738px;
  overflow:hidden;
  background: #000;
}

/* code  */
pre[class*="language-"]{
  border:none;
  border-radius:0;
  background:rgba(0,0,0,0.8);
  padding-top:9px;
  padding-bottom:9px;
}

pre[class*="language-"] *{
  font-size:15px;
  font-family: 'Consolas', 'Monaco', 'Andale Mono', 'monospace','微软雅黑',
}

pre[class*="language-"] > code[data-language]{
  overflow: auto;
}

pre[class*="language-"] > code[data-language]:before{
  display: none;
}

.page .middle p{
  margin-bottom: 0;
}


/* 垂直居中 */
.middle{
  width:100%;
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  -webkit-transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  -o-transform:translateY(-50%);
}

.page:not(#div_home) .middle .container > .row{
  transform:translateY(100px);
  -ms-transform:translateY(100px);
  -webkit-transform:translateY(100px);
  -moz-transform:translateY(100px);
  -o-transform:translateY(100px);
  opacity:0;

  transition:transform,opacity, 0.6s ease 0s;
  -ms-transition:-ms-transform,opacity, 0.6s ease 0s;
  -webkit-transition:-webkit-transform,opacity, 0.6s ease 0s;
  -moz-transition:-moz-transform,opacity, 0.6s ease 0s;
  -o-transition:-o-transform,opacity, 0.6s ease 0s;
  
}

.page:not(#div_home).scrolled_to .middle .container > .row{
  transform:translateY(0);
  -ms-transform:translateY(0);
  -webkit-transform:translateY(0);
  -moz-transform:translateY(0);
  -o-transform:translateY(0);
  opacity:1;
}


/* message */
.message_phone .message:first-child{
  margin-top:220px;
}
.message{
  width:100%;
  min-height:45px;
  opacity:0;
  clear: both;
}
.message.left{
  padding-left:50px;
}
.message.right{
  padding-right:40px;
  margin-top: 25px;
}
.message_from{
  width:50px;
  height:50px;
  border-radius:50%;
  background:#000;
  float:left;
  position:relative;
}
.message_from:before{
  content:attr(data-title);
  position:absolute;
  top:16px;
  left:0px;
  color:#fff;
  display:block;
  width:50px;
  text-align: center;
}

.message_inner{
  display:inline-block;
  max-width: 200px;
  padding: 6px 10px 5px 10px;
  margin:10px 15px 0 15px;
  color: #fff;
  text-align: left;
  background-color: #000;
  position:relative;
}

.message_inner:before{
  content:'';
  position: absolute;
  top:10px;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid
}

.message.left .message_from,
.message.left .message_inner{
  float:left;
  background-color:#f98e23;
}
.message.left .message_inner:before{
  bottom: 0;
  left: -5px;
  border-right-color: #f98e23;
  border-width: 5px 5px 5px 0;
}

.message.right .message_from,
.message.right .message_inner{
  float:right;
  text-align:right;
  background-color:#12a8a8;
}
.message.right .message_inner:before{
  bottom: 0;
  right: -5px;
  border-left-color: #12a8a8;
  border-width: 5px 0 5px 5px;
}



.scrolled_to .active .message.left{
  padding-left:60px;
}
.scrolled_to .active .message.right{
  padding-right:60px;
}

.scrolled_to .active .message{
  opacity:1;
}

.message_phone .message:nth-child(1){ 
  transition:padding,opacity, 0.3s ease 0.6s;
  -ms-transition:padding,opacity, 0.3s ease 0.6s;
  -webkit-transition:padding,opacity, 0.3s ease 0.6s;
  -moz-transition:padding,opacity, 0.3s ease 0.6s;
  -o-transition:padding,opacity, 0.3s ease 0.6s;
}
.message_phone .message:nth-child(2){ 
  transition:padding,opacity, 0.3s ease 0.9s;
  -ms-transition:padding,opacity, 0.3s ease 0.9s;
  -webkit-transition:padding,opacity, 0.3s ease 0.9s;
  -moz-transition:padding,opacity, 0.3s ease 0.9s;
  -o-transition:padding,opacity, 0.3s ease 0.9s;
}
.message_phone .message:nth-child(3){ 
  transition:padding,opacity, 0.3s ease 1.9s;
  -ms-transition:padding,opacity, 0.3s ease 1.9s;
  -webkit-transition:padding,opacity, 0.3s ease 1.9s;
  -moz-transition:padding,opacity, 0.3s ease 1.9s;
  -o-transition:padding,opacity, 0.3s ease 1.9s;
}
.message_phone .message:nth-child(4){ 
  transition:padding,opacity, 0.3s ease 2.2s;
  -ms-transition:padding,opacity, 0.3s ease 2.2s;
  -webkit-transition:padding,opacity, 0.3s ease 2.2s;
  -moz-transition:padding,opacity, 0.3s ease 2.2s;
  -o-transition:padding,opacity, 0.3s ease 2.2s;
}
.message_phone .message:nth-child(5){ 
  transition:padding,opacity, 0.3s ease 3.2s;
  -ms-transition:padding,opacity, 0.3s ease 3.2s;
  -webkit-transition:padding,opacity, 0.3s ease 3.2s;
  -moz-transition:padding,opacity, 0.3s ease 3.2s;
  -o-transition:padding,opacity, 0.3s ease 3.2s;
}
.message_phone .message:nth-child(6){ 
  transition:padding,opacity, 0.3s ease 3.5s;
  -ms-transition:padding,opacity, 0.3s ease 3.5s;
  -webkit-transition:padding,opacity, 0.3s ease 3.5s;
  -moz-transition:padding,opacity, 0.3s ease 3.5s;
  -o-transition:padding,opacity, 0.3s ease 3.5s;
}




/*
tooltip
使用方法：
html标签添加class='tp' data-title='test tooltip'
*/
.tp:hover:before{
  content:attr(data-title);
  display: block;
  padding: 2px 7px;
  white-space:nowrap;
  position:absolute;
  left:50%;
  transform:translateX(-50%);
  -ms-transform:translateX(-50%);
  -webkit-transform:translateX(-50%);
  -moz-transform:translateX(-50%);
  -o-transform:translateX(-50%);
  bottom:120%;
  background:rgb(0,0,0);
  color: #fff;
  font-size: 80%;
  z-index: 1;
}
.tp:hover:after{
  content:'';
  position: absolute;
  bottom:100%;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  left: 50%;
  margin-left: -2.5px;
  border-top-color: rgb(0,0,0);
  border-width: 5px 5px 0;
  z-index: 1;
}


/* note */

.note{
  font-family:'Kai','楷体','Segoe UI light','Arial','黑体';
  position: relative;
}
.note:before{
  content: "*";
  position: absolute;
  top: 12px;
  left: -9px;
  line-height: 0;
}
span.note:before{
  display: none;
}






















/* 导航 */

#div_affix{
  position:fixed;
  top:41%;
  right:0;
  width:auto;
  text-align:right;
  z-index:2;
  
}
#div_affix > ul{
  background:rgba(0,0,0,0.2);
  padding:30px 0;
}
#div_affix *{
  text-shadow:none;
  background:none;
  border:none;
  color:rgba(255,255,255,0.6);
}

#div_affix .nav{
  display:block;
}


#div_affix .nav .nav li{
  height:0;
  overflow:hidden;
  transition:height 0.3s ease 0.3s;
  -ms-transition:height 0.3s ease 0.3s;
  -webkit-transition:height 0.3s ease 0.3s;
  -moz-transition:height 0.3s ease 0.3s;
  -o-transition:height 0.3s ease 0.3s;
}

#div_affix .nav > li > a {
  display: block;
  padding: 5px 43px 5px 25px;
}

#div_affix .nav li.active .nav li{
  height:33px;
}

#div_affix > .nav > li.active > a,
#div_affix > .nav > li.active > .nav > li.active > a{
  color:#fff;
  font-weight:bold;
}


.sum_icon{
  margin-right: -14px;
}










/* 首页 */

#div_home{
  background:#2D8859;
  color:#fff;
}

#div_home .header{
  width: 230px;
  position: absolute;
  bottom: 35px;
  right: 42px;
}
#div_home .header div{
  width: 110px;
  height: 61px;
  margin-top: 20px;
  background: url('http://cdn.wedocare.com/img/home/home_call_to_action.png') no-repeat left;
}

#div_home .header #qrcode_home{
  height: 100px;
  width: 100px;
  float: right;
}
#div_home .header #qrcode_home.scanned + div{
  background: url('http://cdn.wedocare.com/img/home/home_call_to_action.png')  no-repeat right;
}

#div_home .gutter{
  margin-bottom:180px;
}

.home_title{
  background:url('http://cdn.wedocare.com/img/home/home_title_en.png');
  margin-bottom: 0;
}
.home_title + p{
  font-family: 'AppleGothic','Helvetica','Segoe UI light','Arial','黑体';
}
.home_title_2{
  background:url('http://cdn.wedocare.com/img/home/home_title_cn.png');
}

.bottom{
  width:100%;
  position:absolute;
  bottom: 40px;
  margin-bottom:10px;
}
.bottom ul{
  margin-bottom:0;
}

.bottom ul li{
  float:left;
  list-style:none;
  position:relative;
}
.bottom ul .github{
  width:112px;
  height:27px;
  margin-right:20px;
  background:url('http://cdn.wedocare.com/img/home/github_logo.png') no-repeat;
  opacity:0.9;
  cursor:pointer;
  transititon:opacity 0.3s ease 0;
  -ms-transition:opacity 0.3s ease 0;
  -webkit-transition:opacity 0.3s ease 0;
  -moz-transition:opacity 0.3s ease 0;
  -o-transition:opacity 0.3s ease 0;
}
.bottom ul .github:hover{
  opacity:1;
}
#div_home .bottom ul .github a:hover:before{
  display: none;
}
.bottom ul .github a{
  display:block;
  width:100%;
  height:100%;
}
.bottom ul .github a:before,
.bottom ul .github a:hover:before,
.bottom ul .github a:after{
  display: none;
}
.bottom ul li:not(.github){
  margin-top:8px;
}


















/* 安装 */
#div_install{
  background:rgb(239,90,75);
}
#div_install .gutter{
  margin-bottom:30px;
  margin-left: 40px;
}
.install_title{
  background:url('http://cdn.wedocare.com/img/install/install_title.png') no-repeat;
}

#div_install .col-md-4{
  width: 430px;/* 解决在15寸mac机的步骤三的代码换行问题 */
}

.install_step > li{
  position:relative;
  list-style:none;
  margin-bottom:30px;
}
.install_step > li:before{
  content:"";
  position:absolute;
  top:0px;
  left:-50px;
  width:40px;
  height:40px;
  border-radius:50%;
  background:rgba(0,0,0,0.15);
  font-family:'Futura','Segoe UI light','Arial','黑体';
}
.install_step > li:after{
  content:"";
  position:absolute;
  top:9px;
  left:-34px;
  color:#fff;
}
.install_step > li:nth-child(1):after{
  content:"1";
}
.install_step > li:nth-child(2):after{
  content:"2";
}
.install_step > li:nth-child(3):after{
  content:"3";
}
.install_step > li:nth-child(4):after{
  content:"4";
}
.install_step > li:nth-child(5):after{
  content:"5";
}


.install_step ol{
  list-style: none;
  padding-left: 0;
}

.install_pic{
  width: 476px; /* 461 + 15 */
  padding-bottom:370px;
  margin-top: 75px;
  margin-bottom: 22px;
  background:url(http://cdn.wedocare.com/img/install/install_server.png) no-repeat 15px bottom;
}

.install_pic a.mp{
  width: 461px;
  height: 338px;
  position: absolute;
  left: 15px;
  bottom: 0;
  display: block;
  opacity: 0;
}
.install_pic a.mp:before{
  visibility: hidden;
}

#code_redis_options{
  display:none;
}
#code_redis_options code > span:first-child{
  display: none;
}

/* 让三段连续的代码变为一段 */
.install_step li .language-coffeescript:nth-of-type(1),
.install_step li .language-coffeescript:nth-of-type(2){
  padding-bottom:0;
  margin-bottom:0;
}
.install_step li .language-coffeescript + .language-coffeescript{
  padding-top:0;
  margin-top:0px;
}

















/* 接收消息：文本消息 */
#div_message{
  background:rgb(0,194,158);
}
#div_message .gutter{
  margin-top: 60px;
  margin-bottom:30px;
}

.message_title{
  background:url(http://cdn.wedocare.com/img/message/message_title.png);
}

#message_content{
  position: relative;
}

/* 三种文本模式动画 */
#message_content > b,
#message_content > div[id*='text'],
#message_content ~ p.note{
  opacity: 0;
}

.scrolled_to #message_content > b:nth-of-type(1),
.scrolled_to #message_content >  #text_pattern{
  opacity: 1;
    
  transition:all 0.3s ease 0.6s;
  -ms-transition:all 0.3s ease 0.6s;
  -webkit-transition:all 0.3s ease 0.6s;
  -moz-transition:all 0.3s ease 0.6s;
  -o-transition:all 0.3s ease 0.6s;
}

.scrolled_to #message_content > b:nth-of-type(2),
.scrolled_to #message_content >  #text_constant{
  opacity: 1;
    
  transition:all 0.3s ease 1.9s;
  -ms-transition:all 0.3s ease 1.9s;
  -webkit-transition:all 0.3s ease 1.9s;
  -moz-transition:all 0.3s ease 1.9s;
  -o-transition:all 0.3s ease 1.9s;
}

.scrolled_to #message_content > b:nth-of-type(3),
.scrolled_to #message_content > #text_all{
  opacity: 1;
    
  transition:all 0.3s ease 3.2s;
  -ms-transition:all 0.3s ease 3.2s;
  -webkit-transition:all 0.3s ease 3.2s;
  -moz-transition:all 0.3s ease 3.2s;
  -o-transition:all 0.3s ease 3.2s;
}

.scrolled_to #message_content ~ p.note{
  opacity: 1;
    
  transition:all 0.3s ease 4.2s;
  -ms-transition:all 0.3s ease 4.2s;
  -webkit-transition:all 0.3s ease 4.2s;
  -moz-transition:all 0.3s ease 4.2s;
  -o-transition:all 0.3s ease 4.2s;
}


.message_phone{
  position:absolute;
  top:-190px;
  left:-500px;
  width:385px;
  height:800px;
  background:url(http://cdn.wedocare.com/img/message/message_iphone.png) no-repeat;
}
.message_phone:before{
  content: attr(data-message-title);
  position: absolute;
  top:134px;
  left: 144px;
  color: #fff;
  width:100px;
  display: block;
  text-align: center;
}

#div_message .col-md-7{
  min-height: 721px;
}


/*接收其他消息*/
#div_other_message{
  background:rgb(117,136,255);
}









/* 接收其他消息 */
#div_other_message{
  background: rgb(118,139,252);
}

#div_other_message h1{
  background:url(http://cdn.wedocare.com/img/message_all/message_all_title.png) no-repeat;
}


#div_other_message .col-md-5{
  min-height: 550px;
}

#div_other_message .message_phone{
  top:20px;
}

#div_other_message .message_phone > div{
  position: absolute;
  width: 100%; 
  height: 100%;
}

.other_message_nav li + li{
  margin-left:0;
}
.other_message_nav li{
  margin-right:23px;
}
.other_message_nav li:last-child{
  margin-right:0;
}

/* reset */
.other_message_nav li a,
.other_message_nav li a:hover,
.other_message_nav li a:active,
.other_message_nav li a:focus,
.other_message_nav li a:visited,
.other_message_nav li.active a,
.other_message_nav li.active a:hover,
.other_message_nav li.active a:active,
.other_message_nav li.active a:focus,
.other_message_nav li.active a:visited{
  background-color:rgba(0,0,0,0);
}

/* 发送消息切换按钮 */
.other_message_nav li a{
  width: 45px;
  height: 70px;
  background:url(http://cdn.wedocare.com/img/message_all/message_all_icon.png) no-repeat;
}


/* 发图片 */
.other_message_nav li a[href='.div_other_img']{
  background-position: -2px 0;
}
.other_message_nav li.active a[href='.div_other_img']{
  background-position: -2px -99px;
}

/* 发语音 */
.other_message_nav li a[href='.div_other_voice']{
  background-position: -68px 0;
}
.other_message_nav li.active a[href='.div_other_voice']{
  background-position: -68px -99px;
}

/* 发视频 */
.other_message_nav li a[href='.div_other_video']{
  background-position: -134px 0;
}
.other_message_nav li.active a[href='.div_other_video']{
  background-position: -134px -99px;
}

/* 发地理位置 */
.other_message_nav li a[href='.div_other_location']{
  width: 60px;
  margin: auto -10px;
  background-position: -191px 0;
}
.other_message_nav li.active a[href='.div_other_location']{
  background-position: -191px -99px;
}

/* 发链接 */
.other_message_nav li a[href='.div_other_link']{
  background-position: -265px 0;
}
.other_message_nav li.active a[href='.div_other_link']{
  background-position: -265px -99px;
}


.other_message_nav{
  margin: 25px 0;
}


#div_other_message .message_phone .tab-pane{
  display: block;
}

/* 发消息：手机 */
#div_other_message .message_inner{
  background-repeat: no-repeat;
  background-position: 4px;
}

/* 图片 */
.div_other_img .message_inner{
  width: 144px;
  height: 144px;
  background-image: url(http://cdn.wedocare.com/img/send_message/send_message_image.png);
  background-repeat: no-repeat;
}
.div_other_img .right .message_inner{
  background-color: rgb(18, 168, 168);
}

/* 语音 */
.div_other_voice .message_inner{
  color: rgba(0,0,0,0);
}
.div_other_voice .left .message_inner{
  background-image: url(http://cdn.wedocare.com/img/send_message/send_message_voice.png);
  background-repeat: no-repeat;
}
.div_other_voice .right .message_inner:after{
  content: '';
  width: 22px;
  height: 22px;
  display: block;
  color: rgba(0,0,0,0);
  position: absolute;
  top: 5px;
  left: 25px;
  background-image: url(http://cdn.wedocare.com/img/send_message/send_message_voice.png);
  background-repeat: no-repeat;
  transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -o-transform:rotate(180deg);
}

/* 视频 */
.div_other_video .right .message_inner{
  width: 146px;
  height: 111px;
  background-image: url(http://cdn.wedocare.com/img/send_message/send_message_video.png);
}
.div_other_video .right .message_inner{
  background-color: rgb(18, 168, 168);
}

/* 地理位置 */
.div_other_location .right .message_inner{
  width: 144px;
  height: 144px;
  background-image: url(http://cdn.wedocare.com/img/message_all/message_all_location.png);
}

/* 链接 */
.div_other_link .right .message_inner {
  height:106px;
  width:144px;
  background-image:url(http://cdn.wedocare.com/img/message_all/message_all_link.png);
}






























/* 发送消息 */
#div_send_message{
  background:rgb(52,169,232);
}

#div_send_message .col-md-5{
  min-height: 730px;
}

#div_send_message .message_phone{
  top:120px;
}

#div_send_message .message_phone > div{
  position: absolute;
  width: 100%; 
  height: 100%;
}

#div_send_message h1.gutter{
  margin-bottom:40px;
  background:url(http://cdn.wedocare.com/img/send_message/send_message_title.png) no-repeat;
}

.send_message_nav li + li{
  margin-left:0;
}
.send_message_nav li{
  margin-right:23px;
}
.send_message_nav li:last-child{
  margin-right:0;
}

/* reset */
.send_message_nav li a,
.send_message_nav li a:hover,
.send_message_nav li a:active,
.send_message_nav li a:focus,
.send_message_nav li a:visited,
.send_message_nav li.active a,
.send_message_nav li.active a:hover,
.send_message_nav li.active a:active,
.send_message_nav li.active a:focus,
.send_message_nav li.active a:visited{
  background-color:rgba(0,0,0,0);
}

/*

.div_text
.div_img
.div_voice
.div_video
.div_music
.div_img_text
.div_customer

*/

/* 发送消息切换按钮 */
.send_message_nav li a{
  width: 45px;
  height: 70px;
  background:url(http://cdn.wedocare.com/img/send_message/send_message_icon.png) no-repeat;
}

/* 发文本 */
.send_message_nav li a[href='.div_text']{
  background-position: -2px 0;
}
.send_message_nav li.active a[href='.div_text']{
  background-position: -2px -99px;
}

/* 发图片 */
.send_message_nav li a[href='.div_img']{
  background-position: -68px 0;
}
.send_message_nav li.active a[href='.div_img']{
  background-position: -68px -99px;
}

/* 发语音 */
.send_message_nav li a[href='.div_voice']{
  background-position: -134px 0;
}
.send_message_nav li.active a[href='.div_voice']{
  background-position: -134px -99px;
}

/* 发视频 */
.send_message_nav li a[href='.div_video']{
  background-position: -199px 0;
}
.send_message_nav li.active a[href='.div_video']{
  background-position: -199px -99px;
}

/* 发音乐 */
.send_message_nav li a[href='.div_music']{
  background-position: -265px 0;
}
.send_message_nav li.active a[href='.div_music']{
  background-position: -265px -99px;
}

/* 发图文 */
.send_message_nav li a[href='.div_img_text']{
  background-position: -331px 0;
}
.send_message_nav li.active a[href='.div_img_text']{
  background-position: -331px -99px;
}

/* 发客服 */
.send_message_nav li a[href='.div_customer']{
  background-position: -397px 0;
}
.send_message_nav li.active a[href='.div_customer']{
  background-position: -397px -99px;
}


.send_message_nav{
  margin: 25px 0;
}
.tab-content_code p{
  margin-bottom: 0px;
}

#div_send_message .message_phone .tab-pane{
  display: block;
}

/* 发消息：手机 */
#div_send_message .message_inner{
  background-repeat: no-repeat;
  background-position: 4px;
}

/* 图片 */
.div_img .message_inner{
  width: 144px;
  height: 144px;
  background-image: url(http://cdn.wedocare.com/img/send_message/send_message_image.png);
  background-repeat: no-repeat;
}
.div_img .right .message_inner{
  background-color: rgb(18, 168, 168);
}

/* 语音 */
.div_voice .message_inner{
  color: rgba(0,0,0,0);
}
.div_voice .left .message_inner{
  background-image: url(http://cdn.wedocare.com/img/send_message/send_message_voice.png);
  background-repeat: no-repeat;
}
.div_voice .right .message_inner:after{
  content: '';
  width: 22px;
  height: 22px;
  display: block;
  color: rgba(0,0,0,0);
  position: absolute;
  top: 5px;
  left: 25px;
  background-image: url(http://cdn.wedocare.com/img/send_message/send_message_voice.png);
  background-repeat: no-repeat;
  transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -o-transform:rotate(180deg);
}

/* 视频 */
.div_video .message_inner{
  width: 146px;
  height: 111px;
  background-image: url(http://cdn.wedocare.com/img/send_message/send_message_video.png);
}
.div_video .right .message_inner{
  background-color: rgb(18, 168, 168);
}

/* 音乐 */
.div_music .left .message_inner{
  width: 146px;
  height: 58px;
  background-image: url(http://cdn.wedocare.com/img/send_message/send_message_music.png);
}

/* 图文 */
.div_img_text .left .message_inner{
  width: 144px;
  height: 135px;
  background-image: url(http://cdn.wedocare.com/img/send_message/send_message_image_text.png);
}















/* 点击按钮 */
#div_click_button{
  background:rgb(255,110,36);/*rgb(167,222,92)*/
}
#div_click_button .gutter{
  margin-bottom:30px;
}
/*点击按钮标题*/
.click_button_title {
  background:url(http://cdn.wedocare.com/img/click_button/click_button_title.png);
}
.text_title{
  margin-top:50px;
}
#div_click_button pre{
  margin-top:65px;
}

/*img 手机 */
/* 入场前*/
.click_button_iphone {
  background:url(http://cdn.wedocare.com/img/click_button/click_button_iphone.png);
  height:374px;
  width:528px;
  transform:translateX(200px);
  -ms-transform:translateX(200px);
  -webkit-transform:translateX(200px);
  -moz-transform:translateX(200px);
  -o-transform:translateX(200px);
  
  opacity:0;

  transition:transform,opacity, 0.6s ease 0.6s;
  -ms-transition:-ms-transform,opacity, 0.6s ease 0.6s;
  -webkit-transition:-webkit-transform,opacity, 0.6s ease 0.6s;
  -moz-transition:-moz-transform,opacity, 0.6s ease 0.6s;
  -o-transition:-o-transform,opacity, 0.6s ease 0.6s;
}
/* 入场后*/
.scrolled_to .click_button_iphone {
  transform:translateX(-120px);
  -ms-transform:translateX(-120px);
  -webkit-transform:translateX(-120px);
  -moz-transform:translateX(-120px);
  -o-transform:translateX(-120px);

  opacity:1;
}

/*img 手 */
/* 入场前*/
.click_button_hand{
  background:url(http://cdn.wedocare.com/img/click_button/click_button_hand.png);
  position:relative;
  height:240px;
  width:386px;
  z-index:1;

  transform:translateX(-200px);
  -ms-transform:translateX(-200px);
  -webkit-transform:translateX(-200px);
  -moz-transform:translateX(-200px);
  -o-transform:translateX(-200px);
  
  opacity:0;
  
  transition:transform,opacity, 0.6s ease 1.2s;
  -ms-transition:-ms-transform,opacity, 0.6s ease 1.2s;
  -webkit-transition:-webkit-transform,opacity, 0.6s ease 1.2s;
  -moz-transition:-moz-transform,opacity, 0.6s ease 1.2s;
  -o-transition:-o-transform,opacity, 0.6s ease 1.2s;
}
/* 入场后*/
.scrolled_to .click_button_hand{
  transform:translateX(120px);
  -ms-transform:translateX(100px);
  -webkit-transform:translateX(120px);
  -moz-transform:translateX(120px);
  -o-transform:translateX(120px);

  opacity:1;
}





















/* 编辑按钮 */
#div_edit_button{
  background:rgb(254,207,67);
  overflow:visible;
}

#div_edit_button h1{
  background:url(http://cdn.wedocare.com/img/edit_button/edit_button_title.png) no-repeat;
}


.tab_content_demo{
  position: relative;
  height: 550px;
  width: 385px;
}

/* 手机演示 */
.tab_content_demo .message_phone{
  top: auto;
  bottom:20px;
  left: 0;
}

/*  */
.tab_content_demo .message_phone>ul{
  margin: 250px 0 100px 68px;
  padding: 0;
}
    
.tab_content_demo .message_phone>ul li{
  width: 100px;
  height:25px;
  margin-bottom: 10px;
  background: #fff;
  list-style: none;
} 
    
.tab_content_demo .message_phone>ul li:nth-child(1){
  width: 110px;
}
.tab_content_demo .message_phone>ul li:nth-child(2){
  width: 160px;
}
.tab_content_demo .message_phone>ul li:nth-child(3){
  width: 60px;
}
.tab_content_demo .message_phone>ul li:nth-child(4){
  width: 200px;
}




/* 按钮组 */
#div_buttons{
  position: absolute;
  bottom: 125px;
  left: 0;
  width: 2000px;
}

#div_buttons a{
  width: 103px;
  height: 40px;
  line-height: 28px;
  border-radius: 0;
  font-size: 16px;
  color: #fff;
  padding: 6px 12px;
}
#div_buttons a:hover{
  background: #d2322d;
}
#div_buttons a:before,
#div_buttons a:after{
  display: none;
}

#div_buttons > div:nth-child(1) > a{
  width: 104px;
}

#div_buttons > div:nth-child(1) > a,
#div_buttons > div:nth-child(2) > a{
  border-right: none;
}


/* 1、2、3、*/
#div_buttons > div[length="1"] > a{
  width: 310px;
}
#div_buttons > div[length="2"] > a{
  width: 155px;
}



/* 出现二级菜单：一级菜单的箭头标识 */
#div_buttons a.option_icon:before{
  content: '';
  display: inline-block;
  width: 16px;
  height: 12px;
  background: url(http://cdn.wedocare.com/img/edit_button/edit_button_icon.png) no-repeat 0 0px;
  background-size: 12px;
}


.btn_group_demo{
  width: 310px;
  overflow: hidden;
  position: absolute;
  height: 100%;
  top:0;
  left:39px;
}





/* 出现二级菜单：向下小三角 */
#div_buttons .dropdown-menu{
  bottom: 50px;
}
#div_buttons .dropdown-menu:empty{
  display: none;
}
#div_buttons .dropdown-menu:before{
  content: ''; 
  position: absolute;
  bottom: -2px;
  left: 40px;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 7px solid;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  color: #ac2925;
}


#div_buttons > div > ul a{
  width: 93px;
  height: 40px;
  border-radius: 0;
  font-size: 16px;
}
#div_buttons > div > ul {
  border: none;
  background: none;
  box-shadow: none;
  margin-left: 5px;
}
#div_buttons > div > ul li:nth-child(1) + li a{
  border-top: none;
}


/* code */
#div_edit_button_demo_code{
  height: 100%;
}
#div_edit_button_demo_code pre{
  position: absolute;
  bottom: 20px;
  left: 0;
  width:100%;
  max-height: 100%;
  height: auto;
  overflow: auto;
}

/* 切换标签 */
#div_edit_button a[href='#div_edit_button_demo'],
#div_edit_button a[href='#div_edit_button_demo_code'],
#div_edit_button a[href='#div_edit_button_demo']:hover,
#div_edit_button a[href='#div_edit_button_demo_code']:hover{
  width: 120px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 0;
}

#div_edit_button li.active a[href='#div_edit_button_demo'],
#div_edit_button li.active a[href='#div_edit_button_demo_code'],
#div_edit_button li.active a[href='#div_edit_button_demo']:hover,
#div_edit_button li.active a[href='#div_edit_button_demo_code']:hover{
  background-color: rgb(210, 50, 45);
}

#div_edit_button a[href='#div_edit_button_demo_code']{
  margin-left: -2px;
}
#div_edit_button a[href='#div_edit_button_demo']{
  margin-left: 73px;
}


#div_markdown_content{
  width: 100%;
  height: 290px;
  background: rgb(220,233,242);
  margin-top: 70px;
  padding-top: 20px;
  position: relative;
  font-family: 'Consolas', 'Monaco', 'Andale Mono', 'monospace','微软雅黑';
}

#div_markdown_content span{
  display: inline-block;
  width: 130px;
  height: 40px;
  line-height: 45px;
  padding: 0 20px;
  background: rgb(220,233,242);
  position: absolute;
  left: 0;
  top: -37px;
}

#div_markdown_content span:before{
  content: '';
  position: absolute;
  right: -23px;
  top: 2px;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-right-color: rgb(220,233,242);
  border-width: 27px 27px 27px 0;

  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

#div_markdown_content p{
  background: rgb(100,105,110);
  margin: 0 20px;
  padding: 5px 10px;
  color: #fff;
}

#textarea_markdown{
  width: 100%;
  height: 100%;
  margin-top: 20px;
  padding: 20px 20px 20px 20px;
  resize: none;
  border: none;
  background: rgb(100,105,110);
  outline: none;
  color: #fff;
}


















/* 扫描二维码登录 */
#div_login {
  background:rgb(0,194,158);
}
#div_login .gutter {
  margin-bottom:50px;
}
/*标题：扫描二维码登录*/
.login_title{
  background:url(http://cdn.wedocare.com/img/scan_qrcode/scan_qrcode_title.png);
}

#div_login .col-md-5 {
  position: relative;
  width: 560px;
}
#div_login .message_phone {
  top: 100px;
  right: -500px;
  left: auto;
}

/*二维码登录演示*/
.login_pic {
  margin-top:260px;
  text-align: center;
}
/*二维码*/
/*初始显示二维码*/
.login_pic >img {
  height:170px;
  width:170px;
}
/*文字及对勾*/
.login_pic label {
  position:relative;
  top:100px;
}

.login_pic label:before {
  content:"";
  background:url(http://cdn.wedocare.com/img/scan_qrcode/scan_qrcode_tick.png) no-repeat;
  position: absolute;
  top:-60px; 
  left:0; 
  right:0;
  margin:0 auto;
  height:45px;
  width:58px;
}

/*头像*/
.login_pic.loggedin {
  margin:0 auto;
  position: relative;
  top:260px;
  height:100px;
  width:100px;
}
.login_pic.loggedin img {
  border-radius:50%;
  box-shadow:0px 0px 1px 4px #edcf68;
  position:relative;
  margin-bottom:10px;
  height:100%;
  width:100%;
}
.login_pic p{
  font-weight:bold;
}


/*初始隐藏扫描成功提示*/
/*初始隐藏用户名*/
/*扫完二维码 隐藏二维码*/
/*成功提示后隐藏提示文字*/
.login_pic label,
.login_pic img[src^="http://wx.qlogo.cn/"],
.login_pic p,
.login_pic.loggedin img[src^="http://wx.qlogo.cn/"] ~ label{
  display:none;
}

/*扫完二维码显示对勾及文字*/
/*成功提示后显示头像*/
/*成功提示后显示用户名*/
.login_pic img[src^="http://wx.qlogo.cn/"] ~ label,
.login_pic.loggedin img[src^="http://wx.qlogo.cn/"],
.login_pic.loggedin p{
  display:block;
}

















/* 选择喜欢的水果 */
#div_fruit{
  background:rgb(198,213,221);
}
#div_fruit .gutter{
  margin-bottom:50px;
}
#div_fruit p.gutter{
  margin-top: 119px;
  margin-bottom: 0;
}
/*标题：带参数二维码*/
.fruit_title{
  background:url(http://cdn.wedocare.com/img/temporary_qrcode/temporary_qrcode_title.png);
  margin-top:30px;
}

.like_fruit_pic >div{
  position:relative;
  margin-top:50px;
}

/*二维码*/
.like_fruit_pic img{
  position:absolute;
  top:80px;
  right:70px;
  height:100px;
  width:100px;
}
.like_fruit_pic .col-md-6 img{
  right:190px;
}

.like_fruit_pic .apple,
.like_fruit_pic .cherry{
  overflow:hidden;
  height:325px;
  width:325px;
}
.like_fruit_pic .apple{
  background:url(http://cdn.wedocare.com/img/temporary_qrcode/temporary_qrcode_apple.png) no-repeat left;
}
.like_fruit_pic .cherry{
  background:url(http://cdn.wedocare.com/img/temporary_qrcode/temporary_qrcode_cherry.png) no-repeat left;
}

/*二维码扫描后隐藏*/
#div_fruit img.临时二维码.scanned{
  display:none;
}
/*二维码扫描后水果换图*/
.like_fruit_pic img.scanned ~ .apple {
  background:url(http://cdn.wedocare.com/img/temporary_qrcode/temporary_qrcode_apple.png) no-repeat right;
}
.like_fruit_pic img.scanned ~ .cherry {
  background:url(http://cdn.wedocare.com/img/temporary_qrcode/temporary_qrcode_cherry.png) no-repeat right;
}



/* 广告投放效果 */
#div_ad{
  background:rgb(53,174,239);
}

#div_ad .gutter{
  margin-bottom:50px;
}
/*标题：永久二维码*/
.ad_title{
  background:url(http://cdn.wedocare.com/img/permanent_qrcode/permanent_qrcode_title.png);
  margin-top:100px;
}


#div_ad .col-md-6{
  position:relative;
  width: 610px;
}
#div_ad .ad_pic{
  position:absolute;
  right:-420px;
  top:-70px;
}

/*灯箱*/
#div_portraits {
  background:url(http://cdn.wedocare.com/img/permanent_qrcode/permanent_qrcode_screen.png) no-repeat;
  padding-top:20px;
  position:relative;
  top:250px;
  height:1000px;
  width:368px;
}
/*已关注头像*/
#div_portraits div:first-of-type {
  margin:20px auto 0 auto;
  overflow:hidden;
  position:relative;
  height:280px;
  width:270px;
}
#div_portraits div:first-of-type > img{
  border-radius:50%;
  box-shadow:0px 0px 1px 3px rgba(255,255,255,0.3); 
  margin:15px;
  height:60px;
  width:60px;
}

#div_headimgs img:nth-of-type(3) ~ img:not(.loaded){
  display: none;
}

#div_portraits div:first-of-type img:nth-of-type(3) ~ img:not(.loaded) {
  opacity:0;
  transform:scale(0.7);
  -ms-transform:scale(0.7);
  -webkit-transform:scale(0.7);
  -moz-transform:scale(0.7);
  -o-transform:scale(0.7);
}

#div_portraits div:first-of-type img.loaded {
  opacity:1;
  transform:scale(1);
  -ms-transform:scale(1);
  -webkit-transform:scale(1);
  -moz-transform:scale(1);
  -o-transform:scale(1);
    
  transition:transform,opacity, 0.3s ease 0;
  -ms-transition:-ms-transform,opacity, 0.3s ease 0;
  -webkit-transition:-webkit-transform,opacity, 0.3s ease 0;
  -moz-transition:-moz-transform,opacity, 0.3s ease 0;
  -o-transition:-o-transform,opacity, 0.3s ease 0;

}

#div_portraits div:first-of-type img[sex]{
  opacity:1;
  transform:scale(1);
  -ms-transform:scale(1);
  -webkit-transform:scale(1);
  -moz-transform:scale(1);
  -o-transform:scale(1);
}

#div_portraits div:last-of-type {
  position:absolute;
  left:44px;
  top:365px; 
  width:calc(100% - 100px);
}
/*扫一扫与他们共同关注*/
#div_portraits div:last-of-type .subscribe_title{ background:url(http://cdn.wedocare.com/img/permanent_qrcode/permanent_qrcode_scan_subscribe.png) no-repeat;
  background-position:right bottom;
  color:rgba(0,0,0,0);
  float:left;
  font-size:20px;
  padding-top:50px;
  margin:0px 0px 0px 10px;
}

/*二维码*/
#div_portraits div:last-of-type img{
  float:right;
  height:100px;
  width:100px;
}











/* 关注与取消关注 */
#div_subscribe{
  background:rgb(254,207,67);
}

#div_subscribe h1 {
  background:url(http://cdn.wedocare.com/img/subscribe_unsubscribe/subscribe_unsubscribe.png) no-repeat;
}

#div_subscribe .message_phone{
  top: -150px;
}


#div_subscribe .message_phone ul{
  margin: 250px 0 100px 68px;
  padding: 0;
}
    
#div_subscribe .message_phone ul li{
  width: 100px;
  height:25px;
  margin-bottom: 10px;
  background: #fff;
  list-style: none;
} 
    
#div_subscribe .message_phone ul li:nth-child(1){
  width: 110px;
}
#div_subscribe .message_phone ul li:nth-child(2){
  width: 160px;
}
#div_subscribe .message_phone ul li:nth-child(3){
  width: 60px;
}
#div_subscribe .message_phone ul li:nth-child(4){
  width: 200px;
}

#div_subscribe .message_phone button{
  width: 250px;
  height: 40px;
  font-size: 16px;
  margin-left: 68px;
  border-radius: 0;
}














/* 获取关注者列表 */
#div_subscribe_list{
  background:#C3C3C3;
}

#div_subscribe_list .middle{
  z-index: 1;
}

#div_subscribe_list h1 {
  background:url(http://cdn.wedocare.com/img/subscriber_list/subscriber_list_title.png) no-repeat;
}

#div_subscribe_list h1.h1_more {
  background:url(http://cdn.wedocare.com/img/subscriber_list/subscriber_list_moretime.png) no-repeat;
}


#div_subscribe_list .col-md-5,
#div_subscribe_list .col-md-6{
  background: rgba(255,255,255,0.6);
  padding:25px 35px;
}

#div_subscribe_list .col-md-5:nth-child(1){
  margin-right: 30px;
}

#div_subscribe_list .bottom{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#div_subscribe_list .bottom .container{
  width: 100%;
}

#div_subscribe_list .bottom .col-md-1{
  padding:8.33333333% 0 0 0;
  background-size: cover;
  background-repeat: no-repeat;
    
  opacity: 0;
    
  transform: scale(0.6);
  -ms-transform: scale(0.6);
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -o-transform: scale(0.6);
    
  transition:transform,opacity, 0.3s ease 0;
  -ms-transition:-ms-transform,opacity, 0.3s ease 0;
  -webkit-transition:-webkit-transform,opacity, 0.3s ease 0;
  -moz-transition:-moz-transform,opacity, 0.3s ease 0;
  -o-transition:-o-transform,opacity, 0.3s ease 0;
}
#div_subscribe_list .bottom .col-md-1.loaded{
  opacity: 1;
    
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
}













/* 有限状态机 */
#div_fsm{
  background:rgb(0,194,158);
}

#div_fsm h1 {
  background:url(http://cdn.wedocare.com/img/fsm/fsm_title.png) no-repeat;
}   

#div_fsm .col-md-5{
  width: 500px;
}

#pre_fsm{
  background: none;
  font-size:4pt;
  letter-spacing: 1px;
  line-height: 4pt;
  font-weight: bold;
  border: none;
  color: #fff;
  margin-top: 120px;
  margin-left: 50px;
}








/* media */
@media (max-width:990px){
  .page{
    min-height:0;
    height:auto;
  }

  /* 导航 */
  #div_affix{
    top:0;
    right:0;
    display:none;
  }
  #div_affix .nav{
    padding:0;
    margin:0;
  }
  
  .middle{
    position:static;
    transform:translateY(0);
    -ms-transform:translateY(0);
    -webkit-transform:translateY(0);
    -moz-transform:translateY(0);
    -o-transform:translateY(0);
  }

  .bottom{
    position:static;
  }

  div[class*="pic"],
  .message_phone,
  .tab_content_demo,
  .tab_content_demo + ul{
    display:none;
  }
    
  /* home */
  #div_home .gutter{
    margin-bottom: 0px;
  }
  #div_home .header,
  #div_home .bottom{
    display: none;
  }

  /* 安装 */
  #div_install .row .col-md-4{
    width:auto;
  }
  
  /* 接收其他消息 */
  #div_other_message .col-md-5{
    min-height: 0;
  }
    
  /* 发送消息 */
  #div_send_message .col-md-5{
    min-height: 0;
  }

  /* 扫描二维码登陆 */
  #div_login .col-md-5{
    width: auto;
  }
    
  /* 获取关注者列表 */
  #div_subscribe_list .bottom .col-md-1{
    display: none;
  }
  #div_subscribe_list .col-md-5:nth-child(1){
    margin-right: 0;
  }

  /* 有限状态机 */
  #div_fsm .col-md-5{
    width: auto;
  }
}
















/* Retina device*/
@media (min--moz-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2),
(-ms-min-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2){
  /* WeiXin */
  .home_title{
    background:url('http://cdn.wedocare.com/img/home/home_title_en@2x.png') no-repeat;
    background-size:auto 45px;
  }

  /* 微信应用框架 */
  .home_title_2{
    background:url('http://cdn.wedocare.com/img/home/home_title_cn@2x.png') no-repeat;
    background-size:auto 54px;
  }

  .bottom ul .github{
    background:url('http://cdn.wedocare.com/img/home/github_logo@2x.png') no-repeat;
    background-size: auto 27px;
  }
    
  /* 扫一扫关注我们 */
  #div_home .header div{
    background: url('http://cdn.wedocare.com/img/home/home_call_to_action@2x.png') no-repeat left;
    background-size: auto 61px;
  }
  #div_home .header #qrcode_home.scanned + div{
    background: url('http://cdn.wedocare.com/img/home/home_call_to_action@2x.png') no-repeat right;
    background-size: auto 61px;
  }
  /* 安装 title */
  .install_title{
    background:url('http://cdn.wedocare.com/img/install/install_title@2x.png') no-repeat;
    background-size:auto 33px;
  }
  /* 安装步骤 */
  .install_pic{
    background:url(http://cdn.wedocare.com/img/install/install_server@2x.png) no-repeat 15px bottom;
    background-size:auto 338px;
  }

  /* 接收消息 */
  .message_title{
    background:url(http://cdn.wedocare.com/img/message/message_title@2x.png) no-repeat;
    background-size:auto 33px;
  }
  .message_phone{
    background:url(http://cdn.wedocare.com/img/message/message_iphone@2x.png) no-repeat;
    background-size:auto 800px;
  }
    
    
  /* 接收其他消息 */
  #div_other_message h1{
    background:url(http://cdn.wedocare.com/img/message_all/message_all_title@2x.png) no-repeat;
    background-size:auto 33px;
  }
    
  /* 接收其他消息：发送消息切换按钮 */
  .other_message_nav li a{
    background:url(http://cdn.wedocare.com/img/message_all/message_all_icon@2x.png) no-repeat;
    background-size: auto 171px;
  }
  
  /* 接收其他消息：图片 */
  .div_other_img .message_inner{
    background-image: url(http://cdn.wedocare.com/img/send_message/send_message_image@2x.png);
    background-size:auto 136px;
  }
  /* 接收其他消息：语音 */
  .div_other_voice .left .message_inner{
    background-image: url(http://cdn.wedocare.com/img/send_message/send_message_voice@2x.png);
    background-size:auto 22px;
  }
  .div_other_voice .right .message_inner:after{
    background-image: url(http://cdn.wedocare.com/img/send_message/send_message_voice@2x.png);
    background-size:auto 22px;
  }
  
  /* 接收其他消息：视频 */
  .div_other_video .right .message_inner{
    background-image: url(http://cdn.wedocare.com/img/send_message/send_message_video@2x.png);
    background-size:auto 103px;
  }
  /* 接收其他消息：地理位置 */
  .div_other_location .right .message_inner{
    background-image: url(http://cdn.wedocare.com/img/message_all/message_all_location@2x.png);
    background-size:auto 136px;
  }
   /* 接收其他消息：链接 */
  .div_other_link .right .message_inner {
    background-image:url(http://cdn.wedocare.com/img/message_all/message_all_link@2x.png);
    background-size:auto 98px;
  }
  
    
  
  /* 发送消息 */
  #div_send_message h1.gutter{
    background:url(http://cdn.wedocare.com/img/send_message/send_message_title@2x.png) no-repeat;
    background-size:auto 33px;
  }
    

  /* 图片 */
  .div_img .message_inner{
    background-image: url(http://cdn.wedocare.com/img/send_message/send_message_image@2x.png);
    background-size:auto 136px;
  }

  /* 语音 */
  .div_voice .left .message_inner{
    background-image: url(http://cdn.wedocare.com/img/send_message/send_message_voice@2x.png);
    background-size:auto 22px;
  }
  .div_voice .right .message_inner:after{
    background-image: url(http://cdn.wedocare.com/img/send_message/send_message_voice@2x.png);
    background-size:auto 22px;
  }

  /* 视频 */
  .div_video .message_inner{
    background-image: url(http://cdn.wedocare.com/img/send_message/send_message_video@2x.png);
    background-size:auto 103px;
  }
  /* 音乐 */
  .div_music .left .message_inner{
    background-image: url(http://cdn.wedocare.com/img/send_message/send_message_music@2x.png);
    background-size:auto 50px;
  }

  /* 图文 */
  .div_img_text .left .message_inner{
    background-image: url(http://cdn.wedocare.com/img/send_message/send_message_image_text@2x.png);
    background-size:auto 127px;
  }


    
    
  /******************/
  /* 发送消息切换按钮 */
  /******************/
  .send_message_nav li a{
    background:url(http://cdn.wedocare.com/img/send_message/send_message_icon@2x.png) no-repeat;
    background-size: 444px 171px;
  }

  /*点击按钮 */
  .click_button_title{
    background:url(http://cdn.wedocare.com/img/click_button/click_button_title@2x.png) no-repeat;
    background-size:auto 33px;
  }
  .click_button_hand{
    background:url(http://cdn.wedocare.com/img/click_button/click_button_hand@2x.png) no-repeat;
    background-size:auto 240px;
  }

  .click_button_iphone {
    background:url(http://cdn.wedocare.com/img/click_button/click_button_iphone@2x.png) no-repeat;
    background-size:auto 374px;
  }
    
  /*按钮组*/
  #div_buttons a.option_icon:before{
    background: url(http://cdn.wedocare.com/img/edit_button/edit_button_icon@2x.png) no-repeat 0 0px;
    background-size:auto 12px;
  }


    
  /* 扫描二维码登录 */
  .login_title{
    background:url(http://cdn.wedocare.com/img/scan_qrcode/scan_qrcode_title@2x.png);
    background-size:auto 33px;
  }
  .login_pic label:before {
    background:url(http://cdn.wedocare.com/img/scan_qrcode/scan_qrcode_tick@2x.png) no-repeat;
    background-size:auto 45px;
  }
     
  #div_edit_button h1{
    background:url(http://cdn.wedocare.com/img/edit_button/edit_button_title@2x.png) no-repeat;
    background-size:auto 33px;
  }
    
  /*选择喜欢的水果 */
  .fruit_title{
    background:url(http://cdn.wedocare.com/img/temporary_qrcode/temporary_qrcode_title@2x.png) no-repeat;
    background-size:auto 33px;
  }
  .like_fruit_pic .apple{
    background:url(http://cdn.wedocare.com/img/temporary_qrcode/temporary_qrcode_apple@2x.png) no-repeat left;
    background-size:auto 325px;
  }
  .like_fruit_pic .cherry{
    background:url(http://cdn.wedocare.com/img/temporary_qrcode/temporary_qrcode_cherry@2x.png) no-repeat left;
    background-size:auto 325px;
  }
  .like_fruit_pic img.scanned ~ .apple {
    background:url(http://cdn.wedocare.com/img/temporary_qrcode/temporary_qrcode_apple@2x.png) no-repeat right;
    background-size:auto 325px;
  }
  .like_fruit_pic img.scanned ~ .cherry {
    background:url(http://cdn.wedocare.com/img/temporary_qrcode/temporary_qrcode_cherry@2x.png) no-repeat right;
    background-size:auto 325px;
  }
    
  /* 广告投放效果 */
  .ad_title {
    background:url(http://cdn.wedocare.com/img/permanent_qrcode/permanent_qrcode_title@2x.png) no-repeat;
    background-size: auto 33px;
  }
   #div_portraits {
    background:url(http://cdn.wedocare.com/img/permanent_qrcode/permanent_qrcode_screen@2x.png) no-repeat;
    background-size:auto 1000px;
  }
    
  /*扫一扫与他们共同关注*/
  #div_portraits div:last-of-type .subscribe_title{
    background:url(http://cdn.wedocare.com/img/permanent_qrcode/permanent_qrcode_scan_subscribe@2x.png) no-repeat;
    background-size:auto 43px;
    background-position:right bottom;
  }
    
  /* 关注与取消关注 */
  #div_subscribe h1 {
    background:url(http://cdn.wedocare.com/img/subscribe_unsubscribe/subscribe_unsubscribe@2x.png) no-repeat;
    background-size:auto 33px;
  }


  /* 获取关注着列表 */
  #div_subscribe_list h1 {
    background:url(http://cdn.wedocare.com/img/subscriber_list/subscriber_list_title@2x.png) no-repeat;
    background-size:auto 33px;
  }

  #div_subscribe_list h1.h1_more {
    background:url(http://cdn.wedocare.com/img/subscriber_list/subscriber_list_moretime@2x.png) no-repeat;
    background-size:auto 33px;
  }


    /* 有限状态机 */
  #div_fsm h1 {
    background:url(http://cdn.wedocare.com/img/fsm/fsm_title@2x.png) no-repeat;
    background-size:auto 33px;
  }   

